@-moz-document url("https://duelingnexus.com/") {
body {
    color: #C19E4D;
    font: 0/1 'noto sans', arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
}
html {
    background: url(https://i62.servimg.com/u/f62/17/89/30/88/57448310.jpg) #766D87 0 3vw/cover fixed; /*Image by the amazing Moribuden*/
}
/*Here are things that oddly starts with a period. I spent all my life thinking that full stops go at the end. And here I am starting with them.*/
.loadmore, hr {
    display: none;
}
.h2, h2 {
    font: italic 2.5vw;
    margin: 15px 0 15px 0;
    padding-top: 3.5vw;
}
.h3, h3 {
    color: antiquewhite;
    font: italic 1.5vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    height: 2vw;
    width: 100%;
    margin: 0;
    padding: 0.5vw 0 0 0.5vw;
}
.h4, h4 {
    color: #30a791;
    font-size: 2vw;
    text-shadow: 0.5px 0.5px 0.5px rgba(48, 167, 145, 0.6), 1px 1px 1px rgba(193, 158, 77, 0.7), 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.5);
}
.h6, h6 {
    color: antiquewhite;
    font-size: 1vw;
}
.btn {
    font-weight: bold;
}
.checkbox label {
    color: rgba(193, 158, 77, 0.75);
    font: 1.1vw/22px 'noto sans';
}
.checkbox label:hover {
    color: #C19E4D
}
.container {
    width: 100%;
}
.profile-if-not-contributor {
    font-size: 1vw;
    margin: 0;
    padding: 1vw;
}
.table {
    text-align: justify;
    background:  black;
    opacity: 1;
    width: 75%;
    margin: 9vh 0.1vw 10vh -0.1vw;
    float: right;
    z-index: 1;
    position: relative;
    right: 12.5%;
}
.table::before {
    color: antiquewhite;
    font-family: arial, san-serif;
    text-align: center;
    background-size: 100%;
    opacity: 0.75;
    padding: 0.5vw;
    z-index: -1;
    position: absolute;
    top: -2vw;
    left: 0;
    bottom: 0;
    right: 0; 
}
/*Here we have some general button rules.*/
#tab-login .button, #tab-register .button, #tab-news .button, #tab-duel .button, #tab-decks .button, #tab-profile .button {
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    cursor: pointer;
    font-weight: bold;
    font-family: 'oxygen', arial, sans-serif;
    text-align: center;
    border: 2px solid;
}
#tab-login .button:focus, #tab-register .button:focus, #tab-duel .button:focus, #tab-decks .button:focus, #tab-profile .button:focus {
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    font-style: italic;
}
#tab-login .button:hover, #tab-register .button:hover, #tab-duel .button:hover, #tab-decks .button:hover, #tab-profile .button:hover {
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
/*This is the code for the navbar, which can be seen from any tab.*/
.container-fluid {
    background-color: #766D87;
    height: 3vw;
    min-height: 0;
    max-height: 25vh;
    width: 100vw;
    padding-left: 20vw;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    position: fixed;
    top: 0;
}
.navbar-text {
    color: antiquewhite;
    font-size: 1vw;
    line-height: 3;
    margin: 0 0 0 3vw;
}
.navbar-nav>li>.menu-link {
    -moz-transition: color 2s ease-in-out, border 2s ease-in-out;
    -o-transition: color 2s ease-in-out, border 2s ease-in-out;
    transition: color 2s ease-in-out, border 2s ease-in-out;
    color: rgba(193, 158, 77, 0.9) !important;
    font-size: 0.8vw;
    line-height: 1vw;
    text-shadow: none;
    border: 1px dotted rgba(193, 158, 77, 0.9);
    height: 3vw;
    min-height: 0;
    max-height: 25vh;
    width:auto;
    margin-left: 0.25vw;
    padding: 1vw;
}
.nav>li>a:focus {
    -moz-transition: color 2s ease-in-out, border 2s ease-in-out;
    -o-transition: color 2s ease-in-out, border 2s ease-in-out;
    transition: color 2s ease-in-out, border 2s ease-in-out;
    color: rgba(48, 167, 145, 0.9) !important;
    font-style: italic;
    background-color: rgba(118, 109, 135, 0.8);
    border-color: rgba(48, 167, 145, 0.9);
}
.nav>li>a:hover {
    -moz-transition: color 2s ease-in-out, border 2s ease-in-out;
    -o-transition: color 2s ease-in-out, border 2s ease-in-out;
    transition: color 2s ease-in-out, border 2s ease-in-out;
    color: rgba(48, 167, 145, 0.9) !important;
    background-color: rgba(118, 109, 135, 0.8);
    border-color: rgba(48, 167, 145, 0.9);
}
.nav>li.disabled>.menu-link, .nav>li.disabled>.menu-link:focus,.nav>li.disabled>.menu-link:hover {
    color: rgba(193, 158, 77, 0.5) !important;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 0.9vw, rgba(150, 150, 150, 0.8) 2vw, rgba(160, 160, 160, 0.4) 0.5vw, transparent 1vw), linear-gradient( to bottom, rgba(78, 78, 78, 0.6), rgba(0, 0, 0, 0.6));
    border: none;
}
#cf_alert_div {
    height: 6vw;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    top: 3vw !important;
}
#cf_alert_div a, #cf_alert_div p{
    font-size: 1vw !important;
}
#link-chat {
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    color: antiquewhite;
    cursor: help;
    font-size: 0.8vw;
    font-weight: bold;
    line-height: 1vw;
    background-color: black;
    border: 1px dotted antiquewhite;
    height: 3vw;
    width: auto;
    margin-left: 0.25vw;
    padding: 1vw;
}
#link-chat:focus, #link-chat:hover {
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px dashed;
}
}
