@-moz-document url("https://duelingnexus.com/login"), url("https://duelingnexus.com/home") {
/*SECTION 03 HOME*/
/*This section applies to the home page, as well as an awesome login animation I made.*/
@keyframes disappear {
    0% {opacity: 1}
    25% {opacity: 1}
    100% {opacity: 0}
}
p:nth-child(2) {
    animation: disappear 3s;
    font-size: 5vh;
    color: #30A791;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    padding-top: 40vh;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
p:nth-child(3) {
    margin-top: 7vh
}
#adsense {
    width: auto;
    margin: 0 25%;
    z-index: 4;
    position: fixed;
    top: 7vh;
}
#home-area div {
    padding-top: 3vh
}
p button {
    animation-name: appear;
    animation-duration: 5s;
    font-size: 1.75vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    color: rgba(193, 158, 77, 0.75);
    background-color: black;
    border-color: rgba(193, 158, 77, 0.75);
}
#home-area button {
    color: #C19E4D;
    width: 100%;
    margin-top: 4vh; /*Reduce this number if the taskbar covers the interface on the duel home tab, or change your resolution.*/
}
#home-area button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: #c0c0c0;
    background-color: rgba(192, 192, 192, 0.25);
}
}
