@-moz-document url("https://duelingnexus.com/") {
/*This affects the Duel tab, but not the duel pages.*/
#tab-duel-home {
    overflow: hidden
}
#tab-duel .button {
    font-size: 1.75vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75);
    border-color: #C19E4D;
    border-color: rgba(193, 158, 77, 0.75);
    padding: 1px;
}
#tab-duel .button:focus {
    font-style :italic
}
#tab-duel .button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: #c0c0c0;
    background-color: rgba(192, 192, 192, 0.25);
}
#tab-duel div.profile-if-not-contributor {
    background: radial-gradient(silver, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)) !important;
    border: none !important;
    margin: 0 !important;
}
#tab-duel .progress {
    background-color: silver;
    background: linear-gradient(to right, silver, darkgray, rgba(169, 169, 169, 0));
    margin: 0;
    padding: 0;    
}
/*This more specifically affects the dueling menu of the duel tab.*/
#tab-duel-home .button {
    color: #C19E4D;
    width: 100%;
    margin-top: 2vw; /*Reduce this number if the taskbar covers the interface on the duel home tab, or change your resolution.*/
}
#tab-duel-home .mlabel {
    font-size: 1.5vw;
    font-weight: bold;
    text-shadow: 0 0 0.125vw rgba(0, 0, 0, 0.9), 0 0 0.125 #766D87;
}
#tab-duel-home .mlabel:before {
    content: " ";
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    height: 2vw;
    width: 100vw;
    z-index: -1;
    position: absolute;
    left: 0;
}
#tab-duel-home p {
    color: antiquewhite;
    font-size: 1.5vw;
    text-align: left !important;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.9), 0 0 0.5vw rgba(0, 0, 0, 0.9), 0 0 0.5vw rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 1vw;
}
/*This affects the searching pages, such as bot duels.*/
#tab-duel-searching .button {
    transition-duration: 100ms;
    color: rgba(48, 167, 145, 0.9);
    border-color: rgba(48, 167, 145, 0.9);
    opacity: 0.9;
    width: 100%;
    margin-top: 20vh;
}
#tab-duel-searching .button:focus {
    transition-duration: 100ms;
    background: url(http://www.wallpapermaiden.com/wallpaper/5402/download/1920x1080/yu-gi-oh-gx-yubel-jaden-yuki-beyond-the-clouds.jpg) no-repeat center center fixed !important; /*Image by either Dyunasumon or Moribuden.*/
    opacity: 1;
    height: 105vh;
    width: 110%;
    margin-top: 0;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
}
#tab-duel-searching .button:hover {
    background: url(http://www.wallpapermaiden.com/wallpaper/5402/download/1920x1080/yu-gi-oh-gx-yubel-jaden-yuki-beyond-the-clouds.jpg) no-repeat center center fixed /*Image by either Dyunasumon or Moribuden.*/
}
/*This affects the game list page.*/
button#lobby-duels-hide-gamelist {
    font-size: 2vw;
    width: 100%;
    margin: 6vh -30vw -2px -2px;
}
#tab-duel-gamelist .button {
    color: #C19E4D
}
#tab-duel-gamelist .button:not(#lobby-duels-hide-gamelist) {
    font-size: 1.25vw;
    width: 50.07%;
    margin: 0 -0.3vw -2px -2px;
    padding: 1px;
}
#tab-duel-gamelist .container {
    width: 100%
}
#tab-duel-gamelist label {
    font-size: 1.1vw
}
#tab-duel-gamelist p:not(.button) {
    font-size: 1vw;
    width: 100%;
}
#tab-duel-gamelist .table {
    font-size: 1.5vw;
    color: #30a791;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
#tab-duel-gamelist .table::before {
    font-size: 1.25vw;
    content: "Get Your Game On!";
    background: url("https://i62.servimg.com/u/f62/17/89/30/88/55637911.jpg") 0 0/100%; /*I have a morbid Moribuden for this one.*/
}
}
