@-moz-document url("https://duelingnexus.com/decks") {
/*SECTION 05 DECKS*/
/*This affects the deck page, but not the editor pages.*/
.table-button {
    -webkit-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -moz-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -o-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    transition: color 1s ease-in-out, border-color 2s ease-in-out;
    font-size: 1vw;
    color: #C19E4D;
    text-shadow: 0 1px 0.5px rgba(193, 158, 77, 0.6), 0 0 2px rgba(48, 167, 145, 1), 0 1px 2px rgba(0, 0, 0, 0.8);
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.table-button:hover {
    -webkit-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -moz-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -o-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    transition: color 1s ease-in-out, border-color 2s ease-in-out;
    color: #30A791;
    text-decoration: underline;
    text-shadow: 0 0.5px 0.5px rgba(48, 167, 145, 0.4), 0 0 2px rgba(193, 158, 77, 0.8), 0 0.5px 2px rgba(0, 0, 0, 0.6);
}
#decks-container table {
    color: #30A791;
    font-size: 1.5vw;
    text-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.5), 0 0 0.25vw rgba(0, 0, 0, 0.5), 0 0 0.25vw rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 25vw;
}
#decks-container table::before {
    font-size: 1.25vw;
    content: "Now prepare to feel my wrath!";
    background: url("https://i62.servimg.com/u/f62/17/89/30/88/65591110.jpg") 0 0/100%; /*Here's a less morbid Moribuden.*/
}
}
