@-moz-document url("https://duelingnexus.com/") {
/*This affects the profile tab, but not the profile pages. Er... if there were profile pages.*/
div#tab-profile {
    padding-bottom: 40px /*If your taskbar blocks the interface on the profile tab, increase this number.*/
}
#tab-profile p:not(.profile-if-not-contributor) {
    color: antiquewhite;
    font-size: 1vw;
}
#tab-profile p.profile-if-not-contributor {
    font-size: 0;
    height: 0;
    width: 0;
    padding: 0;
}
#tab-profile .button { 
    color: #C19E4D;
    font-size: 1.25vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75);
    border-color: #C19E4D;
    border-color: rgba(193, 158, 77, 0.75);
    position: relative;
    right: 0.6vw;
}
#tab-profile .button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: rgba(192, 192, 192, 0.25);
}
#tab-profile .row {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5) !important
}
#avatar_image {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    border: 0.5vw solid rgba(193, 158, 77, 0.7);
    border-radius: 10%;
    box-shadow: 0 0 2px rgba(193, 158, 77, 0.7), 0 0 2px black;
    position: relative;
    right: 0.5vw;
}
#avatar_image:hover {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#avatar-previous-button, #avatar-next-button {
    width: 2vw !important;
    padding: 0;
    position: relative;
    right: 0.6vw;
}
#profile-upload-avatar, #profile-upload-sleeve {
    width: auto;
    padding: 0.25vw 0.5vw;
}
}
