@-moz-document url("https://duelingnexus.com/") {
/*This affects the new Settings Tab.*/
#tab-settings {
    font-size: 2vw
}
#tab-settings .table {
    color: #C19E4D;
    font-weight: bold;
    text-align: right;
    text-shadow: 0.15vw 0.15vw 0 #000;
}
#tab-settings .table::before {
    font-size: 1.25vw;
    text-shadow: 0.1vw 0.1vw 0.1vw rgba(48, 167, 145, 0.9);
    content: "Why are you staring at me?";
    background: url("https://i93.servimg.com/u/f93/17/89/30/88/58736610.jpg") 0 2vw/100%; /*Yubel crouching in the grass. I wonder what she's looking at. Probably Jaden. Image by Moribuden.*/
    background-size: 100% 100%;
    filter: grayscale(75%);
}
#tab-settings .button {
    color: #C19E4D;
    font-size: 2vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(193, 158, 77, 0.75);
    margin: 1.5vw;
    padding: 0.25vw 1vw;
}
#tab-settings .button:focus {
    font-style :italic
}
#tab-settings .button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: rgba(192, 192, 192, 0.25);
    border-color: antiquewhite;
}
#tab-settings td {
    line-height: 7;
    border: 0;
}
}
