@-moz-document url-prefix("https://duelingnexus.com/game"), url-prefix("https://duelingnexus.com/editor") {
/*This affects the siding screen, and the related elements of the deck pages.*/
body {
    font: 0/1 'noto sans', arial, sans-serif
}
button#game-siding-done {
    z-index: 2;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
}
.engine-text-box {
    font: 1vw/1 'Times New Roman', serif;
    background: radial-gradient(rgba(50, 50, 50, 0.5), rgba(100, 100, 100, 0.5));
    border: 0.375vw double #F0F0F0;
    height: 2vw;
}
#game-container, #editor-container {
    margin: 1vw
}
#card-column {
    height: 100vh;
    width: 24vw;
    float: left;
}
#card-name {
    color: black;
    font-size: 2.125vw;
    text-align: center;
    text-shadow: 0 0 0.5em #666666, 0 0 0.5em #666666, 0 0 1em antiquewhite, 0 0 1em antiquewhite;
    background: radial-gradient(rgba(150, 150, 150, 0.5), rgba(50, 50, 50, 0.5));
    border: 1px dashed antiquewhite;
    margin: 0;
}
#card-picture-container {
    margin: 0.5vw
}
#card-picture {
    width: 50%
}
#card-description-box {
    color: antiquewhite;
    font-size: 1.25vw;
    text-align: justify;
    background: radial-gradient(rgba(150, 150, 150, 0.5), rgba(50, 50, 50, 0.5));
    border: 1px dashed antiquewhite;
    height: 25vh;
    overflow-y: scroll;
    padding: 0.25vw;
}
#card-if-monster {
    font-weight: bold
}
#editor-decks-column, #game-siding-column {
    height: 40vw;
    width: 35.5vw;
    padding: 0 0.25vw;
}
#editor-decks-column h4, #editor-search-column h4, #game-siding-column h4, #game-siding-column-2 h4 {
    color: #30A791;
    font-size: 1.5vw;
    text-shadow: 0.5px 0.5px 0.5px rgba(48, 167, 145, 0.6), 1px 1px 1px rgba(193, 158, 77, 0.7), 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.5);
    background-color: rgba(118, 109, 135, 0.7);
    height: 1.75vw;
    margin-bottom: 0.5vw;
    padding: 0.1vw;
}
#editor-deck-main-title, #editor-search-title, #siding-deck-main-title {
	margin: 0 0 1vw 0
}
#editor-deck-extra-title, #editor-deck-side-title, #siding-deck-extra-title, #siding-deck-side-title {
	margin: 0.5vw 0
}
#editor-main-deck, #siding-main-deck {
    height: 20.1vw !important
}
#editor-extra-deck, #editor-side-deck, #siding-extra-deck, #siding-side-deck {
    height: 5.1vw !important
}
#editor-search-column, #game-siding-column-2 {
    height: 28.7vw;
    width: 35.5vw;
    overflow: hidden;
    padding: 0;
    position: relative;
}
#editor-search-column, #game-siding-column-2 .engine-text-box {
    width: 35.5vw
}
#game-siding-column-2:after {
    content: 'To side on desktop, right click a card(s) in the "side" area and it will automatically move to the "deck", then right click a card(s) in the "deck" and it will automatically move to the "side". If you are on Android, drag a card(s) to the bottom right corner with your finger. Note that you will note be able to complete siding until the cards you sided in are in the bottom right corner of the "deck", and there are the same number of cards in the "deck" after siding as before siding. When you are done, click the buttom below.';
    font-size: 1.5vw;
    color: antiquewhite;
    font-family: arial, san-serif;
    text-align: justify;
    background: radial-gradient(rgba(150, 150, 150, 0.5), rgba(50, 50, 50, 0.5));
    box-sizing: border-box;
    height: 26.45vw;
    width: 35.5vw;
    padding: 1vw;
    position: fixed;
}
}
