@-moz-document url-prefix("https://duelingnexus.com/game/") {
/*This affects the lobby, where you prepare for the duel.*/
@-moz-keyframes spin {
    100% {-moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
    100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
    100% {transform: rotate(360deg);}
}
table {
    color: #C19E4D;
    font-size: 1.125vw;
    background-color: rgba(0, 0, 0, 0);
}
.template-button, #game-to-spectator-button, #game-to-duelist-button, #game-not-ready-button, #game-ready-button, #game-deck-dropdown, #game-rps-first, #game-rps-second, #game-end-button {
    width: auto;
    max-width: 28vw;
}
#game-room-container {
    background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(50, 50, 50, 0.8), rgba(100, 100, 100, 0.8));
    border: 1px dashed antiquewhite;
    width: 50vw;
    min-width: 500px;
    margin-top: 8vw;
    padding: 1vw;
}
#game-room-players {
    width: 28vw;
    min-width: 280px;
    padding: 2vh 1vw 2vh 2vw;
}
#game-room-players-table tr, #game-room-information-table tr {
    border-top: 2px solid antiquewhite;
    border-bottom: 2px solid antiquewhite;
	height: 4vw;
}
#game-room-information {
    width: 16vw;
    min-width: 160px;
    padding: 2vh 2vw 2vh 1vw;
}
#game-room-information-table td {
    width: 10vw
}
#game-not-ready-button:active, #game-ready-button:active {
    -moz-animation: 2s ease-in-out 1s infinite spin;
    -o-animation: 2s ease-in-out 1s infinite spin;
    animation: 2s ease-in-out 1s infinite spin;
}
#game-deck-selection {
    cursor: s-resize;
    border: solid #F0F0F0;
    border-width: 15px 1px 1px 3px;
    border-radius: 10px;
    height: 16vh;
    width: 28vw;
    min-width: 280px;
    overflow-y: scroll;
    margin-top: 5px;
    padding: 5px;
    z-index: 2;
    position: absolute;
}
#game-deck-selection:hover {
    background: radial-gradient(rgba(100, 100, 100, 0.8), rgba(50, 50, 50, 0.8), rgba(0, 0, 0, 0.8))
}
/*This adds a bouncing ball to look at while waiting for a duel to connect. I also stuck Rock Paper Scissors in here.*/
@-moz-keyframes moveX {
  from { left: 0; } to { left: 95vw; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 95vw; }
}
@keyframes moveX {
  from { left: 0; } to { left: 95vw; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 90vh; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 90vh; }
}
@keyframes moveY {
  from { top: 0; } to { top: 90vh; }
}
#game-loading-container p {
    margin-top: 20vw
}
#game-loading-container p::before {
    -moz-animation: moveX 3.2s cubic-bezier(0.1 ,0, 0.9, 1) 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;
    -o-animation: moveX 3.2s cubic-bezier(0.1 ,0, 0.9, 1) 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;
    animation: moveX 3.2s cubic-bezier(0.1 ,0, 0.9, 1) 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;
    content: " ";
    background-color: #C19E4D;
    background-image: linear-gradient(135deg, rgba(192, 192, 192,0.25) -25%, rgba(192, 192, 192, 0.1) 75%);
    border-radius: 50%;
    box-shadow: inset -0.5vw -0.5vw 20px rgba(0, 0, 0, 0.75);
    display: block;
    height: 5vw;
    width: 5vw;
    margin: 0;
    z-index: 3;
    position: fixed;
}
#game-loading-container p::after {
    -moz-animation: moveX 3.2s linear 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;
    -o-animation: moveX 3.2s linear 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;
    animation: moveX 3.2s linear 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;
    content: " ";
    background-color: rgba(118, 109, 135, 0.5);
    border-radius: 50%;
    display: block;
    height: 4.5vw;
    width: 4.5vw;
    margin: 0;
    z-index: 2;
    position: fixed;
}
#game-rps-container, #game-rps-first, #game-rps-second, #game-rps-result {
    text-align: center;
    margin-top: 15vh;
}
#game-rps-container img{
    height: 14.4vw;
    width: 9.975vw;
    padding: 1vw;
}
}
