@-moz-document url-prefix("https://duelingnexus.com/editor/") {
/*This section affects the editor pages.*/
body {
    font: 1vw/1 'noto sans', arial, sans-serif
}
html {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(75, 75, 75, 0.9) 10px, rgba(0, 0, 0, 0.9) 20px), linear-gradient(45deg, rgba(50, 50, 50, 0.9), rgba(100, 100, 100, 0.9));
    background: url(https://cdn.discordapp.com/attachments/256871791983591424/294678118415859713/57585438_p0.jpg) 0 0/cover fixed; /*Image by Moribuden.*/;
}
.editor-search-result {
    color: antiquewhite;
    cursor: pointer;
    background: radial-gradient(rgba(150, 150, 150, 0.5), rgba(50, 50, 50, 0.5));
    border: 0.15vw solid #F0F0F0;
    width: 50.3%;
    margin: -0.11vw 0 0 -0.11vw;
}
.editor-search-card {
    width: 33%;
    float: left;
    position: relative;
}
.editor-search-description {
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    font-size: 1vw;
    margin-left: 33%;
    position: absolute;
}
.editor-search-description:hover {
    font-size: 0.666666vw;
    overflow: visible;
    margin-left: 0px;
    position: absolute;
}
.engine-button {
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    font-family: 'oxygen', arial, sans-serif;
    font-weight: bold;
    color: antiquewhite;
    background-color: rgba(100, 100, 100, 0.4);
    border: 0.5px solid #F0F0F0;
    height: 3.14159265358979323846264338327950288419716939937511vh /*2.71828182845904523536028747135266249775724709369995vh*/; /*pi and e*/
    padding: 0 1.5vw;
    float: left;
    position: relative;
    left: 2vh;
}
.engine-button:hover, .engine-button:focus {
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    background-color: rgba(140, 140, 140, 0.8);
    padding: 0 1.5vw;
}
.engine-button:active {
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    font-style: italic;
    background-color: rgba(145, 145, 145, 0.9);
    padding: 0 1.5vw;
}
.engine-button-primary {
    background-color: rgba(193, 158, 77, 0.5)
}
.engine-button-primary:hover, .engine-button-primary:focus {
    background-color: rgba(193, 158, 77, 0.7)
}
.engine-button-primary:active {
    background-color: rgba(193, 158, 77, 0.9)
}
.engine-button-danger {
    background-color: rgba(48, 167, 145, 0.5)
}
.engine-button-danger:hover, .engine-button-danger:focus {
    background-color: rgba(48, 167, 145, 0.7)
}
.engine-button-danger:active {
    background-color: rgba(48, 167, 145, 0.9)
}
#editor-menu-container {
    font-weight: bold;
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(75, 75, 75, 0.9) 10px, rgba(0, 0, 0, 0.9) 20px), linear-gradient(45deg, rgba(50, 50, 50, 0.9), rgba(100, 100, 100, 0.9));
    height: 3vw;
    max-height: 10vh;
}
#editor-menu-title {
    color: #C19E4D;
    font-size: 1.75vw;
    text-shadow: 0px 0px 2px black, 1px 1px 2px gold, 1px 1px 1px silver;
    position: absolute;
    left: 59vw;
}
#editor-menu-title:after {
    color: black;
    content: "Dueling Nexus";
    font: 1.75vw/6.25 'berkshire swash', papyrus, 'comic sans ms', cursive, sans-serif;
    text-align: center;
    text-shadow: 0 0 6vw #666666, 0 0 6vw #666666, 0 0 6vw #666666, 0 0 6vw #666666, 0 0 6vw #666666, 0 0 6vw #666666, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC, 0 0 12vw #CCC;
    letter-spacing: 0.1vw;
    word-spacing: 0.2vw;
    background: url(https://img00.deviantart.net/f91b/i/2013/008/5/2/yu_gi_oh__japanese_logo_by_kingvegito-d5qu0xw.png) 0 0/14vw 7vw;
    height: 7vw;
    width: 14vw;
    position: fixed;
    bottom: 6vh;
    right: 3vw;
}
#editor-search-column {
    border-bottom: 0.15vw solid #F0F0F0
}
#editor-search-results {
    border-left: 0.15vw solid #F0F0F0;
    height: 24.4vw;
    overflow-x: hidden;
    overflow-y: scroll;
}
}
