/* ==UserStyle==
@name           J×Y - 2/13/2019, 8:30:04 PM
@namespace      github.com/openstyles/stylus
@version        0.2.2
@description   Jaden and Yubel v2.0 (featuring Chatbox and other scrolling fixes)
Inspired by O OO/The XAZ.
Special thanks to Skeletonxf for finally coming up with a chatbox and getting me back into this. This style wouldn't have a licence without you.
Open for testing and feedback. Potentially compatible with any resolution on almost any device.
For optimal viewing, press F11.
@author         Userstyle © 2017 Yubelious! under MIT liecence.
==/UserStyle== */

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Noto+Sans|Oxygen');
@-moz-document url("https://duelingnexus.com/login"), url("https://duelingnexus.com/register"), url("https://duelingnexus.com/recover"), url("https://duelingnexus.com/home"), url("https://duelingnexus.com/duel"), url("https://duelingnexus.com/gamelist"), url("https://duelingnexus.com/hostgame"), url("https://duelingnexus.com/decks"), url("https://duelingnexus.com/profile"), url("https://duelingnexus.com/donate") {
/*SECTION 01 NAVGLOBAL*/
/*This section is global code that applies to all of the navigation pages. For global code for the game and deckbuilding pages, go to GAMEGLOBAL*/
body {
    color: #C19E4D;
    font-family: 'noto sans', sans-serif;
    background-color: rgba(0, 0, 0, 0);
}
html {
    background: url(https://i62.servimg.com/u/f62/17/89/30/88/57448310.jpg) #766D87 0 6vh/cover fixed /*Image by the amazing Moribuden*/
}
#home-area h2, #duel-area h2, #gamelist-area h2, #custom-game-area h2, #decks-area h2 {
    position: absolute;
    top: 0;
    left: 2vw;
}
/*Here we have some general button and label rules.*/
a {
    color: #C19E4D;
    text-shadow: 0 0 1vw #30A791, 0 0 2vw #30A791, 1vw 2vw 3vw black;
}
a:hover, a:focus {
    color: #30A791;
    text-shadow: 0 0 1vw #C19E4D, 0 0 2vw #C19E4D, 1vw 2vw 3vw black;
}
button, input {
    font-family: 'oxygen', sans-serif
}
label {
    font-family: 'noto sans', sans-serif
}
/*This is the code for the navbar, which can be seen from any tab.*/
@keyframes appear {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}
#navbar-left button, #navbar-middle button, #navbar-right button {
    animation: appear 3s;
    padding: 0;
}
#navbar-left button, #navbar-middle button, #navbar-right button, #decks-buttons button, .fake-button[data-v-6f705b54], .fake-button[data-v-0262afa4], #my-profile button {
    color: antiquewhite;
    color: rgba(250, 235, 215, 0.5);
    text-shadow: .15vw .15vw .15vw rgba(250, 235, 215, 0.5), .3vw .3vw .3vw rgba(250, 235, 215, 0.25), .45vw .45vw .45vw rgba(250, 235, 215, 0.125);
    border-color: antiquewhite;
    border-color: rgba(250, 235, 215, 0.5);
}
#navbar-left button:focus, #navbar-middle button:focus, #navbar-right button:focus, .fake-button:focus {
    color: antiquewhite;
    color: rgba(250, 235, 215, 0.25);
    text-shadow: .15vw .15vw .15vw rgba(250, 235, 215, 0.25), .3vw .3vw .3vw rgba(250, 235, 215, 0.125), .45vw .45vw .45vw rgba(250, 235, 215, 0.0625);
    background-color: gray;
    background-color: rgba(200, 200, 200, 0.25);
    border-color: antiquewhite;
    border-color: rgba(250, 235, 215, 0.25);
}
#navbar-left .button:hover, #navbar-middle button:hover, #navbar-right button:hover, .fake-button:hover {
    color: antiquewhite;
    text-shadow: .15vw .15vw .15vw rgba(250, 235, 215, 1), .3vw .3vw .3vw rgba(250, 235, 215, 0.5), .45vw .45vw .45vw rgba(250, 235, 215, 0.25);
    border-color: antiquewhite;
}
#navbar-middle button:first-of-type {
    display: none
}
/*This removes a black background from elements, and resizes the box to 100% of your screen's width.*/
#home-area, #duel-area, #gamelist-container, #gamelist-area, #custom-game-area[data-v-2bb19dd4], #decks-container, #decks-area {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 5vh 1vw;
    position: absolute;
    top: 7vh;
    left: 0;
}
/*This is table code that sets up for some other sections.*/
table {
    text-align: justify;
    background:  black;
    opacity: 1;
    width: 75vw;
    margin: 45vh 0.1vw 10vh -0.1vw;
    float: right;
    z-index: 2;
    position: relative;
    right: 12.5%;
}
table::before {
    color: antiquewhite;
    font-family: arial, san-serif;
    text-align: center;
    background-size: 100%;
    opacity: .5;
    padding: 0.5vw;
    z-index: 1;
    position: absolute;
    top: -2vw;
    left: 0;
    bottom: 0;
    right: 0; 
}
td {
    z-index: 3;
    position: relative;
}
}
@-moz-document url("https://duelingnexus.com/login"), url("https://duelingnexus.com/register"), url("https://duelingnexus.com/recover") {
/*SECTION 02 LOGIN*/
/*This affects the login, register, and recover pages, since they all key off of the same things.*/
#login-area, #register-area, #recover-area {    
    background: url(https://i62.servimg.com/u/f62/17/89/30/88/55637910.jpg) 0 -1.2vw/60vw 39.5vw
}
#login-email, #login-password, #register-email, #register-username, #register-password, #register-password2, #recover-email, #login-submit, #register-area button, #recover-submit {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    color: rgba(193, 158, 77, 0.7);
    text-indent: 0.5vw;
    background-color: #766D87;
    background-color: rgba(118, 109, 135, 0.7);
    border-color: #C19E4D;
    border-color: rgba(193, 158, 77, 0.8);
    box-shadow: 0 .15vw .3vw #C19E4D;
    box-shadow: -.15vw -.15vw .3vw rgba(193, 158, 77, 0.8), -.15vw .15vw .3vw rgba(193, 158, 77, 0.8), .15vw -.15vw .3vw rgba(193, 158, 77, 0.8), .15vw .15vw .3vw rgba(193, 158, 77, 0.8);
    height: 2.75vw;
    padding: 0;
}
#login-email:hover, #login-password:hover, #register-email:hover, #register-username:hover, #register-password:hover, #register-password2:hover, #recover-email:hover, #login-submit:hover, #register-area button:hover, #recover-submit:hover {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    color: #C19E4D;
    background-color: #766D87;
    border-color: #C19E4D;
    box-shadow: -.15vw -.15vw .3vw #C19E4D;
    box-shadow: -.15vw -.15vw .3vw rgba(193, 158, 77, 0.8), -.15vw .15vw .3vw rgba(193, 158, 77, 0.8), .15vw -.15vw .3vw rgba(193, 158, 77, 0.8), .15vw .15vw .3vw rgba(193, 158, 77, 0.8);
}
#login-email:focus, #login-password:focus, #register-email:focus, #register-username:focus, #register-password:focus, #register-password2:focus, #recover-email:focus, #login-submit:focus, #register-area button:focus, #recover-submit:focus {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    color: #30A791;
    background-color: #766D87;
    background-color: rgba(118, 109, 135, 0.3);
    border: 4px solid;
    box-shadow: 0 1px 8px black;
    box-shadow: -.3vh -.3vw .6vw #30A791, -.3vh .3vw .6vw #30A791, .3vh -.3vw .6vw #30A791, .3vh .3vw .6vw #30A791;
}
#links-area {
    background: radial-gradient(rgba(16, 16, 16, 0.4), rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0), rgba(0, 0, 0, 0))
}
}
@-moz-document url("https://duelingnexus.com/login"), url("https://duelingnexus.com/home") {
/*SECTION 03 HOME*/
/*This section applies to the home page, as well as an awesome login animation I made.*/
@keyframes disappear {
    0% {opacity: 1}
    25% {opacity: 1}
    100% {opacity: 0}
}
p:nth-child(2) {
    animation: disappear 3s;
    font-size: 5vh;
    color: #30A791;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    padding-top: 40vh;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
p:nth-child(3) {
    margin-top: 7vh
}
#adsense {
    width: auto;
    margin: 0 25%;
    z-index: 4;
    position: fixed;
    top: 7vh;
}
#home-area div {
    padding-top: 3vh
}
p button {
    animation-name: appear;
    animation-duration: 5s;
    font-size: 1.75vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    color: rgba(193, 158, 77, 0.75);
    background-color: black;
    border-color: rgba(193, 158, 77, 0.75);
}
#home-area button {
    color: #C19E4D;
    width: 100%;
    margin-top: 4vh; /*Reduce this number if the taskbar covers the interface on the duel home tab, or change your resolution.*/
}
#home-area button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: #c0c0c0;
    background-color: rgba(192, 192, 192, 0.25);
}
}
@-moz-document url("https://duelingnexus.com/home"), url("https://duelingnexus.com/duel"), url("https://duelingnexus.com/gamelist"), url("https://duelingnexus.com/hostgame") {
/*Section 04 DUEL*/
/*This section applies to /duel and /gamelist, which are both found by clicking Duel Zone from the navbar. But it doesn't affect duels in any way.*/
/*This affects the donation article.*/
#duel-area-donations {
    transition-duration: .5s;
    transition-property: text-shadow;
    font-size: 2vh;
    color: antiquewhite;
    background: radial-gradient(silver 3%, darkgray 9%, rgba(0, 0, 0, 0.5) 81%);
    border: none;
    width: auto;
    margin: 0 25%;
    z-index: 4;
    position: fixed;
    top: 7vh;
}
#duel-area-donations:hover {
    transition-duration: .5s;
    transition-property: text-shadow;
    text-shadow: .15vw .15vw .15vw rgba(250, 235, 215, 0.5), .3vw .3vw .3vw rgba(250, 235, 215, 0.25), 4.5vw 4.5vw 4.5vw rgba(250, 235, 215, 0.125);
}
#duel-area-donations-bar {
    background-color: silver;
    background: linear-gradient(to right, silver, darkgray, rgba(169, 169, 169, 0));
    margin: 0;
    padding: 0;    
}
#duel-area div {
    padding-top: 7vh
}
/*This affects the buttons and the region selector below them.*/
p button, #gamelist-buttons button, .button {
    color: rgba(193, 158, 77, 0.75);
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    background-color: black;
    border-color: rgba(193, 158, 77, 0.75);
}
#duel-area button:not(.bigger-button) {
    color: #C19E4D;
    width: 100%;
    margin-top: 4vh; /*Reduce this number if the taskbar covers the interface on the duel home tab, or change your resolution.*/
}
#duel-area button:hover, #gamelist-buttons button:hover, .button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: #c0c0c0;
    background-color: rgba(192, 192, 192, 0.25);
}
p button img {
    min-height: 3vh;
    max-height: 3vh;
}
p#region-select {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    text-align: left;
    text-indent: 2vw;
    transform: translateX(-1vw)
}
/*This adds an animation to the button you click when a game is found.*/
@keyframes button {
    from {background-position: left top}
    to {background-position: right bottom}
}
button.bigger-button {
    color: rgba(48, 167, 145, 0.9);
    border-color: rgba(48, 167, 145, 0.9);
    opacity: 0.9;
    width: 100%;
    position: relative;
    left: 0;
    bottom: -50vh;
}
button.bigger-button:focus {
    background-image: url(http://www.wallpapermaiden.com/wallpaper/5402/download/1920x1080/yu-gi-oh-gx-yubel-jaden-yuki-beyond-the-clouds.jpg);
    background: url(http://www.wallpapermaiden.com/wallpaper/5402/download/1920x1080/yu-gi-oh-gx-yubel-jaden-yuki-beyond-the-clouds.jpg) no-repeat center center fixed /*Image by either Dyunasumon or Moribuden.*/;
    opacity: 1;
    height: 105vh;
    width: 110%;
    margin-top: 0;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
}
button.bigger-button:hover {
    animation: button 5s infinite;
    background-image: url(http://www.wallpapermaiden.com/wallpaper/5402/download/1920x1080/yu-gi-oh-gx-yubel-jaden-yuki-beyond-the-clouds.jpg);
}
/*This affects the boxes above the table.*/
#gamelist-buttons, #gamelist-filters {
    background-color: rgba(0, 0, 0, 0.5);
    width: 75vw;
    z-index: 2;
    position: absolute;
    top: 10vh;
    left: 13.5vw;
}
#gamelist-buttons p, #gamelist-buttons button {
    font-size: 3vh;
    text-align: center;
    width: 25vw;
    padding: 0;
}
#gamelist-filters {
    top: 20vh
}
/*This affects the table that lists the available duels.*/
#gamelist-container table {
    color: #30a791;
    border: .3vw solid rgba(0, 0, 0, 0.1);
}
#gamelist-container table::before {
    font-size: 1.25vw;
    content: "Get Your Game On!";
    background: url("https://i62.servimg.com/u/f62/17/89/30/88/55637911.jpg") 0 0/100%; /*I have a morbid Moribuden for this one.*/
}
.button {
    font-size: 1.25vw;
    width: 50.07%;
    margin: 0 -0.3vw -2px -2px;
    padding: 1px;
}
/*This section affects the page that opens when you click "host a custom game" from /gamelist.*/
#custom-game-area p {
    margin: 5vh 0
}
}
@-moz-document url("https://duelingnexus.com/decks") {
/*SECTION 05 DECKS*/
/*This affects the deck page, but not the editor pages.*/
#decks-area[data-v-6f705b54] {
    width: 100vw;
    position: relative;
    top: 6vh;
    left: 0;
}
#decks-area h2 {
    float: left
}
#decks-buttons {
    width: auto;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 10vw;
    left: 15vw;
}
#decks-buttons button {
    padding: 1vh
}
#decks-buttons .fake-button {
    float: right
}
.table-button {
    -webkit-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -moz-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -o-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    transition: color 1s ease-in-out, border-color 2s ease-in-out;
    font-size: 1vw;
    color: #C19E4D;
    text-shadow: 0 1px 0.5px rgba(193, 158, 77, 0.6), 0 0 2px rgba(48, 167, 145, 1), 0 1px 2px rgba(0, 0, 0, 0.8);
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.table-button:hover {
    -webkit-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -moz-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    -o-transition: color 1s ease-in-out, border-color 2s ease-in-out;
    transition: color 1s ease-in-out, border-color 2s ease-in-out;
    color: #30A791;
    text-decoration: underline;
    text-shadow: 0 0.5px 0.5px rgba(48, 167, 145, 0.4), 0 0 2px rgba(193, 158, 77, 0.8), 0 0.5px 2px rgba(0, 0, 0, 0.6);
}
#decks-container table {
    color: #30A791;
    font-size: 1.5vw;
    text-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.5), 0 0 0.25vw rgba(0, 0, 0, 0.5), 0 0 0.25vw rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
}
#decks-container table::before {
    font-size: 1.25vw;
    content: "Now prepare to feel my wrath!";
    background: url("https://i62.servimg.com/u/f62/17/89/30/88/65591110.jpg") 0 0/100%; /*Here's a less morbid Moribuden.*/
}
}
@-moz-document url("https://duelingnexus.com/hostgame") {
/*SECTION 06 HOSTGAME*/
/*This section affects the page that opens when you click "host a custom game" from /gamelist.*/
#custom-game-area p {
    margin: 5vh 0
}
}
@-moz-document url("https://duelingnexus.com/profile") {
/*Section 06 PROFILE*/
/*This code affects the settings and profile page.*/
button.arrow-button {
    color: #C19E4D;
    font-size: 2vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(193, 158, 77, 0.75);
    margin: 1.5vw;
    padding: 0;
}
button.arrow-button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: rgba(192, 192, 192, 0.25);
    border-color: antiquewhite;
}
}
