@-moz-document url("https://duelingnexus.com/") {
/*This affects the profile tab, but not the profile pages. Er... if there were profile pages.*/
div#tab-profile {
    padding-bottom: 40px /*If your taskbar blocks the interface on the profile tab, increase this number.*/
}
#avatar-previous-button, #avatar-next-button {
    width: 2vw !important;
    padding: 0;
}
#tab-profile p {
    font-size: 1vw;
    color: antiquewhite;
}
#tab-profile .button { 
    color: #c19e4d;
    font-size: 1.25vw;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(193, 158, 77, 0.75);
}
#tab-profile .button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: rgba(192, 192, 192, 0.25);
}
#tab-profile .profile-if-not-contributor {
    display: none
}
#tab-profile .row {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
#profile-upload-avatar, #profile-upload-sleeve {
    width: auto;
    padding: 0.25vw 0.5vw;
}
}
