@-moz-document url("https://duelingnexus.com/") {
/*This affects the Duel tab*/
.progress {
    background: linear-gradient(to right, silver, darkgray, rgba(169, 169, 169, 0));
    margin: 0;
    padding: 0;    
}
#tab-duel {
    overflow: hidden;
}
#tab-duel .button {
    font-size: 1.5vw;
    color: #c19e4d;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.9), 0 0 0.5vw rgba(0, 0, 0, 0.9), 0 0 0.5vw rgba(0, 0, 0, 0.25);
    border-color: rgba(193, 158, 77, 0.75);
    padding: 1px;
}
#tab-duel .button:focus {
    font-style :italic;
}
#tab-duel .button:hover {
    color: antiquewhite;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75), 0 0 0.5vw rgba(0, 0, 0, 0.75);
    background-color: rgba(200, 200, 200, 0.25);
}
#tab-duel p {
    font-size: 1.5vw;
    text-align: left !important;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.9), 0 0 0.5vw rgba(0, 0, 0, 0.9), 0 0 0.5vw rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 2vw !important;
}
#tab-duel .profile-if-not-contributor {
    background: radial-gradient(silver, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)) !important;
    border: none !important;
}
/*This more specifically affects the dueling menu of the duel tab.*/
#tab-duel-home .button {
    width: 100%;
    margin-top: 2vw; /*reduce this number if the taskbar covers the interface on the duel home tab, or change your resolution.*/
}
#tab-duel-home .mlabel:after {
    content: " ";
    height: 2vw;
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: -1;
    position: absolute;
    left: 0;
}
/*This affects the searching pages, such as bot duels*/
#tab-duel-searching .button {
    color: rgba(48, 167, 145, 0.9);
    background: url(http://www.wallpapermaiden.com/wallpaper/5402/download/1920x1080/yu-gi-oh-gx-yubel-jaden-yuki-beyond-the-clouds.jpg) no-repeat center center fixed !important; /*Image by either Dyunasumon or Moribuden*/
    border-color: rgba(48, 167, 145, 0.9);
    opacity: 0.9;
    width: 100%;
    margin-top: 20vh;
}
#tab-duel-searching .button:focus {
    transition-duration: 100ms;
    background: url(http://www.wallpapermaiden.com/wallpaper/5402/download/1920x1080/yu-gi-oh-gx-yubel-jaden-yuki-beyond-the-clouds.jpg) no-repeat center center fixed !important; /*Image by either Dyunasumon or Moribuden*/
    opacity: 1;
    height: 105vh;
    width: 110%;
    z-index: 5;
    margin-top: 0vh;
    position: fixed;
    top: 0;
    left: 0;
}
/*This affects the game list page.*/
#tab-duel-gamelist .container {
    width: 100%;
}
button#lobby-duels-hide-gamelist {    
    width: 100%;
    margin: 6vh 0 0 -2px;
}
#tab-duel-gamelist .button:not(#lobby-duels-hide-gamelist) {
    width: 50.042%;
    margin: 0 -0.3vw -2px -2px;
    padding: 1px;
}
}
